In [4]:
import pandas as pd
##creating data frames with help of dictionary
dic={"a":1,"b":2,3:"c",4:15}
dict1=pd.Series(dic)
dict1

a     1
b     2
3     c
4    15
dtype: object

In [3]:
type(dict1)

pandas.core.series.Series

In [5]:
list1=["2023-01-16",12.36,1000000,"ak-47",True]
list2=pd.Series(list1)
list2

0    2023-01-16
1         12.36
2       1000000
3         ak-47
4          True
dtype: object

In [7]:
##creating a data frame with help of a dictionary
df=pd.DataFrame({"Name":["Aman","Taran","Raja"],"Age":["21","18","25"],"gender":["F","M","M"]})
df

    Name Age gender
0   Aman  21      F
1  Taran  18      M
2   Raja  25      M

In [ ]:
###Data Frame is a 2 dimensional data structure.

In [8]:
df["Age"]

0    21
1    18
2    25
Name: Age, dtype: object

In [9]:
df["Age"][0]

'21'

In [10]:
df.columns

Index(['Name', 'Age', 'gender'], dtype='object')

In [12]:
ser1=pd.Series([0,1,2,3,4],index=[0,1,2,1,2])
ser2=pd.Series([0,1,2,3,4],index=[1,2,3,4,5])
ser1+ser2

0    NaN
1    1.0
1    3.0
2    3.0
2    5.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [15]:
ser1=pd.Series([8,9,4],index=["a","b","c"])
ser2=pd.Series([12,10,41],index=["a","b","d"])
ser1+ser2

a    20.0
b    19.0
c     NaN
d     NaN
dtype: float64

In [16]:
ser1*ser2

a    96.0
b    90.0
c     NaN
d     NaN
dtype: float64

In [17]:
ser1.sum()

21

In [19]:
ser2.sum()

63

In [21]:
ser1.mean()

7.0

In [22]:
ser2.mean()

21.0

In [23]:
ser1.min()

4

In [24]:
ser2.max()

41

In [25]:
ser1.std()
###standard deviation

2.6457513110645907

In [26]:
ser2.var()
##variance

301.0

In [27]:
###3lambda functions
ser3=pd.Series([11,12,13],name="roll")
plus_10=lambda x:x+10
plus_10(5)

15

In [28]:
ser3.apply(lambda x:x+10)

0    21
1    22
2    23
Name: roll, dtype: int64

In [29]:
###sorting
ser1.sort_values()

c    4
a    8
b    9
dtype: int64